root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.{cs,axaml,gd,gdshader}]
indent_style = tab
indent_size = 4

[*.{sln,slnx,csproj,props,json,xml,yaml,sh,cmd}]
indent_style = space
indent_size = 2

[*.json]
indent_size = 4

[*.cs]
csharp_style_expression_bodied_methods = true:recommended

[*.cmd]
end_of_line = crlf
