root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.{slnx,csproj,cs,axaml,gd,gdshader,props}]
indent_style = tab
indent_size = 4

[*.{json,xml,yaml,sh,cmd}]
indent_style = space
indent_size = 2

[*.cs]
csharp_style_expression_bodied_methods = true:recommended

[*.cmd]
end_of_line = crlf
